html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: white;
}
img, video{
    max-width: 100%;
}

.part{
    background-color: #38393d;
}
.sec-app{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    background-color: #2e2f32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sec-header{
        width: 100%;
        flex-grow: 1;
    }
    .sec-main{
        width: 100%;
        height: 100px;
        flex-grow: 15;
        display: flex;
        flex-direction: row;
        gap: 10px;
        .sec-right, .sec-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sec-right{
            gap: 10px;
            position: relative;
            flex-grow: 1;
            .sec-settings{
                box-sizing: border-box;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 25% 10%;
                gap: 3rem;
                overflow: hidden;
                .disc{
                    width: 100%;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    span:nth-child(1){
                        font-size: 16px;
                        font-weight: bold;
                    }
                    span:nth-child(2){
                        font-size: 10px;
                    }
                }
                .video-controller{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    div{
                        width: 100%;
                        height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .play-bg{
                            width: auto;
                            height: 100%;
                            background-color: #fa894e;
                            padding: 1rem;
                            border-radius: 100%;
                            aspect-ratio: 1/1;
                            color: #2e2f32;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            box-sizing: border-box;
                        }
                    }
                }
                .speed-controller{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    background-color: #2e2f32;
                    width: 100%;
                    border-radius: 3px;
                    div{
                        flex-grow: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.7rem 0;
                        margin: 5px;
                        border-radius: 2px;
                        &:nth-child(2){
                            background-color: #fa894e;
                        }
                    }
                }
            }
            .sec-sq-mov{
                position: relative;
                width: 100%;
                flex-grow: 1;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                #simVideoSquare{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .sec-left{
            flex-grow: 4;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 10px;
            flex-basis: 0;
            overflow: hidden;
            .sim-video-container{
                position: relative;
                flex-grow: 2;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                #simVideo{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .image-container{
                position: relative;
                width: 100%;
                height: auto;
                cursor: pointer;
                background-color: #38393d;
                .dark-overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 0%; /* 初期状態では幅0に設定 */
                    background-color: rgba(0, 0, 0, 0.5); /* 黒色の半透明 */
                    transition: width 0.1s; /* アニメーションを追加 */
                }
            }
        }
    }
}