@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img, video {
  pointer-events: none;
  max-width: 100%;
}

.part {
  background-color: #38393d;
}

.sec-app {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
  background-color: #2e2f32;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-app .sec-header {
  width: 100%;
  height: 7px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
}
.sec-app .sec-header .type {
  background-color: #2e2f32;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
}
.sec-app .sec-header .type div {
  box-sizing: border-box;
  width: 8rem;
  height: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sec-app .sec-header .type div.selected {
  background-color: #fa894e;
  border-radius: 2px;
  color: #38393d;
  font-weight: bolder;
}
.sec-app .sec-main {
  width: 100%;
  height: 100px;
  flex-grow: 15;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.sec-app .sec-main .sec-right, .sec-app .sec-main .sec-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-app .sec-main .sec-right {
  gap: 10px;
  position: relative;
  flex-grow: 1;
}
.sec-app .sec-main .sec-right .sec-settings {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15% 10%;
  gap: 3rem;
  overflow: hidden;
}
.sec-app .sec-main .sec-right .sec-settings .disc {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.sec-app .sec-main .sec-right .sec-settings .disc span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.sec-app .sec-main .sec-right .sec-settings .disc span:nth-child(2) {
  font-size: 14px;
}
.sec-app .sec-main .sec-right .sec-settings .video-controller {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sec-app .sec-main .sec-right .sec-settings .video-controller div {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-app .sec-main .sec-right .sec-settings .video-controller div .play-bg {
  width: auto;
  height: 100%;
  background-color: #fa894e;
  padding: 1rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  color: #2e2f32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.sec-app .sec-main .sec-right .sec-settings .video-controller div .play-bg img {
  margin-left: 2px;
}
.sec-app .sec-main .sec-right .sec-settings .video-controller div:hover {
  background-color: #2e2f32;
}
.sec-app .sec-main .sec-right .sec-settings .video-controller div .img-forward, .sec-app .sec-main .sec-right .sec-settings .video-controller div .img-later {
  transform: scale(1.5);
}
.sec-app .sec-main .sec-right .sec-settings .speed-controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2f32;
  width: 100%;
  border-radius: 3px;
}
.sec-app .sec-main .sec-right .sec-settings .speed-controller div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 0;
  margin: 5px;
  border-radius: 2px;
}
.sec-app .sec-main .sec-right .sec-settings .speed-controller div.selected {
  background-color: #fa894e;
  color: #2e2f32;
  font-weight: bolder;
}
.sec-app .sec-main .sec-right .sec-sq-mov {
  position: relative;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.sec-app .sec-main .sec-right .sec-sq-mov #simVideoSquare {
  position: absolute;
  width: 280%;
  height: 280%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sec-app .sec-main .sec-left {
  flex-grow: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  flex-basis: 0;
  overflow: hidden;
}
.sec-app .sec-main .sec-left .sim-video-container {
  position: relative;
  flex-grow: 2;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}
.sec-app .sec-main .sec-left .sim-video-container #simVideo {
  position: absolute;
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sec-app .sec-main .sec-left .image-container {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #38393d;
}
.sec-app .sec-main .sec-left .image-container .dark-overlay {
  position: absolute;
  top: 8%;
  left: 10%;
  height: 60%;
  width: 4%; /* 初期状態では幅0に設定 */
  background-color: rgba(0, 0, 0, 0.5); /* 黒色の半透明 */
  transition: width 0.1s; /* アニメーションを追加 */
}
.sec-app .sec-main .sec-left .image-container .crosslines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hide {
  visibility: hidden;
}/*# sourceMappingURL=style.css.map */